@font-face {
  font-family: 'assembl-glyph';
  src: url('#{$fonts-dir}/assembl-glyph.eot?67943024');
  src: url('#{$fonts-dir}/assembl-glyph.eot?67943024#iefix') format('embedded-opentype'),
       url('#{$fonts-dir}/assembl-glyph.woff2?67943024') format('woff2'),
       url('#{$fonts-dir}/assembl-glyph.woff?67943024') format('woff'),
       url('#{$fonts-dir}/assembl-glyph.ttf?67943024') format('truetype'),
       url('#{$fonts-dir}/assembl-glyph.svg?67943024#assembl-glyph') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'assembl-glyph';
    src: url('../font/assembl-glyph.svg?67943024#assembl-glyph') format('svg');
  }
}
*/
 
 [class^="assembl-icon-"]:before, [class*=" assembl-icon-"]:before {
  font-family: "assembl-glyph";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.assembl-icon-add:before { content: '\e800'; } /* '' */
.assembl-icon-catch:before { content: '\e801'; } /* '' */
.assembl-icon-checked:before { content: '\e802'; } /* '' */
.assembl-icon-discussion:before { content: '\e803'; } /* '' */
.assembl-icon-edit:before { content: '\e804'; } /* '' */
.assembl-icon-cancel:before { content: '\e805'; } /* '' */
.assembl-icon-faq:before { content: '\e806'; } /* '' */
.assembl-icon-filter:before { content: '\e807'; } /* '' */
.assembl-icon-down-dir:before { content: '\e808'; } /* '' */
.assembl-icon-profil:before { content: '\e809'; } /* '' */
.assembl-icon-idea:before { content: '\e80a'; } /* '' */
.assembl-icon-down-open:before { content: '\e80b'; } /* '' */
.assembl-icon-plus-circled:before { content: '\e80c'; } /* '' */
.assembl-icon-minus-circled:before { content: '\e80d'; } /* '' */
.assembl-icon-up-bold:before { content: '\e80e'; } /* '' */
.assembl-icon-link:before { content: '\e80f'; } /* '' */
.assembl-icon-down-bold:before { content: '\e810'; } /* '' */
.assembl-icon-expert:before { content: '\e811'; } /* '' */
.assembl-icon-menu-on:before { content: '\e812'; } /* '' */
.assembl-icon-message:before { content: '\e813'; } /* '' */
.assembl-icon-check-box-declined:before { content: '\e814'; } /* '' */
.assembl-icon-right-dir:before { content: '\e815'; } /* '' */
.assembl-icon-down-small:before { content: '\e817'; } /* '' */
.assembl-icon-up-small:before { content: '\e818'; } /* '' */
.assembl-icon-pepite:before { content: '\e81b'; } /* '' */
.assembl-icon-plus:before { content: '\e820'; } /* '' */
.assembl-icon-schedule:before { content: '\e821'; } /* '' */
.assembl-icon-search:before { content: '\e822'; } /* '' */
.assembl-icon-search2:before { content: '\e823'; } /* '' */
.assembl-icon-share:before { content: '\e824'; } /* '' */
.assembl-icon-delete:before { content: '\e825'; } /* '' */
.assembl-icon-synthesis:before { content: '\e826'; } /* '' */
.assembl-icon-mindmap:before { content: '\e829'; } /* '' */
.assembl-icon-up-open:before { content: '\e82a'; } /* '' */
.assembl-icon-symbol-assembl:before { content: '\e82c'; } /* '' */
.assembl-icon-text-bold:before { content: '\e82d'; } /* '' */
.assembl-icon-text-italics:before { content: '\e82e'; } /* '' */
.assembl-icon-text-bullets:before { content: '\e82f'; } /* '' */
.assembl-icon-text-link:before { content: '\e830'; } /* '' */
.assembl-icon-text-attachment:before { content: '\e831'; } /* '' */
.assembl-icon-text-align-left:before { content: '\e832'; } /* '' */
.assembl-icon-text-align-right:before { content: '\e833'; } /* '' */
.assembl-icon-participation-vote:before { content: '\e839'; } /* '' */
.assembl-icon-suggest:before { content: '\e83d'; } /* '' */
.assembl-icon-check:before { content: '\e84e'; } /* '' */
.assembl-icon-left:before { content: '\e84f'; } /* '' */
.assembl-icon-back-arrow:before { content: '\e856'; } /* '' */
.assembl-icon-double-page:before { content: '\e869'; } /* '' */
.assembl-icon-timer:before { content: '\e86a'; } /* '' */
.assembl-icon-robot:before { content: '\e86d'; } /* '' */
.assembl-icon-sentiment-neutral:before { content: '\e86f'; } /* '' */
.assembl-icon-thumb:before { content: '\f00a'; } /* '' */
.assembl-icon-angle-left:before { content: '\f104'; } /* '' */
.assembl-icon-angle-right:before { content: '\f105'; } /* '' */
.assembl-icon-angle-up:before { content: '\f106'; } /* '' */
.assembl-icon-angle-down:before { content: '\f107'; } /* '' */
.assembl-icon-ellipsis:before { content: '\f141'; } /* '' */
.assembl-icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.assembl-icon-twitter:before { content: '\f309'; } /* '' */
.assembl-icon-twitter-circle:before { content: '\f30a'; } /* '' */
.assembl-icon-facebook:before { content: '\f30c'; } /* '' */
.assembl-icon-facebook-circle:before { content: '\f30d'; } /* '' */
.assembl-icon-gplus-1:before { content: '\f30f'; } /* '' */
.assembl-icon-google-circle:before { content: '\f310'; } /* '' */
.assembl-icon-linkedin:before { content: '\f318'; } /* '' */
.assembl-icon-linkedin-circle:before { content: '\f319'; } /* '' */