.proposals {
  .tag-on-post-container {
    padding-left: 25px;
    padding-right: 20px;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .proposals {
    .tag-on-post-container {
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}

@import 'components/tagContainer.scss';
@import 'components/suggestionContainer.scss';
@import 'components/tags.scss';
